body{
    font-size: 15px;
    background-color: #f4f4f4;
}

.add-btn{
    margin-top: 10px;
}

table tr th, table tr td{
    font-size: 15px;
    padding: 5px;
}

ul li {
    list-style: none;
    font-size: 15px;
}

.button-group{
    width: 145px;
    margin: auto;
    text-align: center;
}

.button-group a {
    margin: auto;
}

#loaderImage {
    display: none;
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
}

.loader_img{
    width: 1368px;
    height: 100vh;
}

td.contact_group p {
    color: white;
    background: #030091;
    text-align: center;
    border-radius: 50px;
    margin: 0;
    padding: 0;
    width: 80px;
}